:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-grey-color: #f5f4fa;
  --white-tint-color: #f5f5f5;
  --dark-bcg-color: #2f303a;
  --pure-white: #ffffff;
  --pure-black: #000000;
  --grey-color: #d9d9d9;
  --white-transparence: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

/* global settings */

ul,
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

li {
  list-style-type: none; /* Прибираємо маркери */
}

.hidden {
  display: none; /*Приховуємо зайві заголовки */
}

a {
  text-decoration: none; /* Відміняємо підкреслення посилань */
}

.header-list {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  margin-left: 215px;
  margin-right: 215px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav .header-item:first-child {
  margin-left: 93px;
}

.header-contacts {
  margin-left: auto;
}

/* .header-contacts > .header-item:last-child {
  display: inline-flex;
  background-color: cyan;
  outline: 2px solid rgb(184, 255, 71);
} */
/* .header-contacts .header-item:first-child {
  margin-left: 344px;
  
} */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 25);
  color: var(--pure-black);
}

.header-nav .header-link {
  /*     
  padding-top: 32px;
  padding-bottom: 32px; */
}

/* hero */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--pure-white);
  text-transform: uppercase;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}

.hero-btn {
  color: var(--pure-white);
  background-color: var(--accent-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
  height: 50px;
  width: 216px;
  border-radius: 4px;
  border-width: 0px;
}

/* sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
  
}

.section-list {
  display: flex;
  justify-content: center;
  margin-left: 215px;
  margin-right: 215px;
}

.section-item:not(:last-child) {
  margin-right: 30px;
}

.section-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  margin-bottom: 10px;
  
}

/* properties */

.properties.section {
  padding-bottom: 118px;
  
}

.properties-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
}

/* Our activities */

.activities.section {
  padding-top: 0;
}

/* team */

.team-subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);
  text-align: center;
}

.team-img {
  margin-bottom: 30px;
  
}

.team-item .team-descr {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(19 / 16);
  text-align: center;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.logo.logo-footer,
.footer-link {
  margin-left: 215px;
  margin-right: 215px;
}

.footer-item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

/* portfolio page */

.btn-list {
  display: flex;
  justify-content: center;
  color: var(--primary-text-color);
  background-color: var(--white-grey-color);
  
  margin-bottom: 50px;
}

.portfolio-item {
  background-color: var(--pure-white);
  
  /* border-width: 3px; */
}

.portfolio-list .section-list {

margin-bottom: 30px;
}

.portfolio-img {
  margin-bottom: 20px;
  
}

.portfolio-subtitle {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
}

.button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  height: 38px;
  width: 130px;
  left: 957px;
  top: 174px;
  border-radius: 4px;
  border-width: 0px;
}

/* colors */

.logo span,
.header-list .header-link:hover,
.header-list .header-link:focus {
  color: var(--accent-color);
}

.logo.logo-footer,
.footer-map {
  color: var(--pure-white);
}

.footer-mail {
  color: var(--grey-color);
}

.footer-tel {
  color: var(--white-transparence);
}

.button:hover,
.button:focus {
  color: var(--white-tint-color);
  background-color: var(--accent-color);
}

.properties,
.activities,
.portfolio-main {
  background-color: var(--white-tint-color);
}

.team {
  background-color: var(--white-grey-color);
}

.footer,
.hero {
  background-color: var(--dark-bcg-color);
}

.properties-text,
.portfolio-text,
.team-text,
.properties-text,
.team-description,
.header-contacts .header-link {
  color: var(--secondary-text-color);
}
