:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-text-color: #757575;
    --btn-color:#F5F4FA;
    --white-color:#F5F5F5;
}

/* header-background #FFFFFF */
/* hero backgroungd #2F303A */
/* accent #2196F3 #000000*/
/* header + заголовки секції #212121 */
/* тел + p #757575; */
/* footer tel + mail 
rgba(255, 255, 255, 0.6) */
/* header  */
li {
    list-style-type: none; /* Прибираємо маркери */
   }

.hidden {
    display: none; /*Приховуємо зайві заголовки */
}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 
   
.logo span,
.logo-footer span,
.header-link span,
.header-mail {
    color: var(--accent-color);
}

.logo-footer,
.footer-link span {
    color:#FFFFFF
}

.footer-link {
    color:#D9D9D9
}

.logo {
    color: #000000;
}

.btn-list {
    color: var(--primary-text-color);
    background-color: var(--btn-color);
}

.button:hover,
.button:focus,
.hero-btn {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.footer,
.hero {
    background-color: #2F303A;
}
.hero-title {
    color: #FFFFFF
}

.header-list,
.team-title,
.team-subtitle,
.properties-subtitle,
.portfolio-subtitle,
.activities-title,
.team-title {
    color:var(--primary-text-color)
}

.properties-text,
.portfolio-text,
.team-text,
.properties-text,
.team-description,
.header-tel {
    color: var(--secondary-text-color);
}
