.btn {
    color: var(--pure-white);
    background-color: var(--accent-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    text-align: center;
    height: 50px;
    min-width: 216px;
    border-radius: 4px;
    border-width: 0px;
  }

  .btn-filter {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    height: 38px;
    min-width: 50px;
    left: 957px;
    top: 174px;
    border-radius: 4px;
    border-width: 0px;
  }
  