.container {
    outline: 2px solid salmon;

    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;    
   

    // break-point mobile
    @media screen and (min-width: 480px) {
      width: 450px;
    }

      // break-point tablet
    @media screen and (min-width: 738px) {
      width: 768px;
    }
    
      // break-point desktop
    @media screen and (min-width: 1600px) {
      width: 1600px;
    }

  }