:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --white-grey-color: #f5f4fa;
    --white-tint-color: #f5f5f5;
    --grey-color: #ececec;
    --dark-bcg-color: #2f303a;
    --pure-white: #ffffff;
    --pure-black: #000000;
    --grey-icon-color: #afb1b8;
    --white-transparence: rgba(255, 255, 255, 0.6);
    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      --animate-delay: 2s;
  }