.hero {
    @include section(200px, 200px);
    text-align: center;    
  }
  
  .hero__overlay {
    @include tabulation;
    max-width: 1600px;
    min-height: 600px;    
    background-color: var(--dark-bcg-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../css/image/hero/hero-bcg-img.jpg);
    background-repeat: no-repeat;
  }
  
  .hero__title {
    color: var(--pure-white);
    text-transform: uppercase;
    font-weight: 900px;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    margin-bottom: 30px;
  }